{% extends 'tabs/02_about/template.html' %}

{% block content %}

<h3>ahx-recipe-randomizer</h3>
<br>
<p>
A demonstration project to show that web development without frameworks and Javascript is possible.<br> 
The only tools used are Python, Flask, Html, and CSS.
<p>
The tabbed interface is inspired by
<a href=https://levelup.gitconnected.com/tabbed-interfaces-without-javascript-661bab1eaec8>Jason Knight:Tabbed Interfaces Without JavaScript</a>.
<p>
The recipes are from Mark Bittman's excellent book
  <a href=https://www.americanbookwarehouse.com/1570996/?msclkid=7158971bd0bd13eceaa7f404418358d1>How to Cook Everything fast</a>.
<p>
  You can find the code on
  <a href=https://github.com/hauensteina/ahx-recipe-randomizer>github</a>.

{% endblock content %}

